<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportMasterTwo.Properties.Settings.RMFConnectionString"
            connectionString="Data Source=FLQQVD1-ERAAP\SQLEXPRESS;Initial Catalog=RMF;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="ReportMasterTwo.Properties.Settings.ConnectionString"
            connectionString="Dsn=SOTAMAS90;uid=jt;description=MAS 90 4.0 ODBC Driver;directory=\\Er2\apps\Program Files\Sage Software\MAS 200\Version4\MAS90;prefix=\\Er2\apps\Program Files\Sage Software\MAS 200\Version4\MAS90\SY\, \\Er2\apps\Program Files\Sage Software\MAS 200\Version4\MAS90\==\;viewdll=\\Er2\apps\Program Files\Sage Software\MAS 200\Version4\MAS90\HOME;cachesize=4;dirtyreads=1;burstmode=1;striptrailingspaces=1;server=NotTheServer"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>